body {
  text-align: center;
}

main {
  display: inline-block;
  position: relative;
}

#gameCanvas {
  border: 1px solid #000;
  background: #fff;
  transition: background-color 10s;
}

.score {
  position: absolute;
  top: 20px;
  left: calc(100% - 150px);

  font: 15px/1.2 Arial, sans-serif;
  color: #00018a;
}

.score.top {
  color: #1e7800;
}

.startButton {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 125px);

  width: 250px;
  padding: 0;

  font: 30px/50px Arial, sans-serif;
  text-align: center;
  color: #000;

  background: #ffd6d6;
  border: none;
  border-radius: 500px;
  cursor: pointer;
}

.startButton.hidden {
  display: none;
}